.jumbotron{
    background-color:black;
    background-position: 100%;
    text-align: center;
    color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   font-family: cursive;
}

.background{
    background-image: url(2844_smoke.jpg);
    background-position: 55%; 
    color: rgb(252, 34, 45);
    font-family: cursive;
    font-weight: bold;
}

.slogan{
    text-align: center;
    margin-top: 100px;
}

.col-sm-12{
    justify-content: flex-start;
}
.navbar-nav{
    color: red;
    background-color: black;
   
}
.nav-link{
    color: red;
    background-color: black;
}


#infolist{
    text-align: center;

}

#club{
    height: 400px;
    width: 400px;
    margin-right: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.profilepic{
    margin-top: 100px;
    text-align: center;
}

#bar{
    height: 300px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#girls{
    height: 300px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#poker{
    height: 300px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.row{
    margin-top: 100px;
}